.card__image {
    width: 360px;
    height: 201px;
    grid-area: image;
}

@media screen and (max-width:768px) {
    .card__image {
        width: 339px;
        height: 190px;
    }
}

@media screen and (max-width:320px) {
    .card__image {
        width: 300px;
        height: 168px;
    }
}