.profile__logout {
    margin: 0;
    margin-top: 16px;
    padding: 0;
    color: #FF4062;
    text-decoration: none;
    text-align: center;
    line-height: 1.2;
    font-size: 0.8125rem;
    font-weight: 400;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

@media screen and (max-width:320px) {
    .profile__logout {
        font-size: 0.75rem;
    }
}