.notfound__text {
    margin: 0;
    padding: 0;
    text-align: center;
    margin-top: 5px;
    line-height: 1.2;
    font-size: 1rem;
    font-weight: 400;
}


@media screen and (max-width:320px) {
    .notfound__text {
        font-size: 0.75rem;
        margin-top: 12px;
    }
}