.portfolio__name {
    margin: 0;
    padding: 0;
    line-height: 1.6;
    font-size: 1.875rem;
    font-weight: 400;
    letter-spacing: -1.2px;
}

@media screen and (max-width:768px) {
    .portfolio__name {
        line-height: 1.78;
        font-size: 1.75rem;
        letter-spacing: -1.12px;
    }
}

@media screen and (max-width:515px) {
    .portfolio__name {
        line-height: 1.5;
        font-size: 1.125rem;
        letter-spacing: -0.72px;
    }
}